php:
  timezone: Europe/Berlin
  locale: ["de_DE", "en_US", "C"]

db:
  driver: mysqli
  host: <host>
  user: vz
  password: <password>
  charset: utf8
  dbname: volkszaehler
  ssl_capath: /etc/ssl/certs/

push:
  server: 5582
  broadcast: 8082
  # routes for wamp access
  wamp:
    - /
    - /ws
  # routes for plain web socket access
  websocket:
    - /socket

network:
  postlimit: false

debug: false
