php:
  timezone: Europe/Berlin
  locale: ['de_DE', 'en_US', 'C']

db:
  driver: mysqli
  host: <host>
  user: vz
  password: <password>
  charset: utf8
  dbname: volkszaehler
  ssl_capath: /etc/ssl/certs/

network:
  postlimit: false

debug: false
